<template>
  <v-container class="lighten-5">
    <v-row v-if="comic" no-gutters >
      <v-col cols="12" sm="6">
        <v-img
          :src="comic.thumbnail.path + '.' + comic.thumbnail.extension"
          class="white--text align-end"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          height="80vh"
        ></v-img>
      </v-col>
      <v-col cols="12" sm="6" class="description">
        <v-btn class="ma-2" tile outlined @click="setFavorites(comic)">
          <v-icon :class="favorites && isFavorite(comic.id) ? 'favorite' : ''">mdi-heart</v-icon>
          <span v-if="isFavorite(comic.id)">Quitar de favoritos</span>
          <span v-else>Agregar a favoritos</span>
        </v-btn>
        <p class="title">{{ comic.title }}</p>
        <p><span class="dataInfo">Fecha de publicación:</span> {{getPublishDate()}}</p>
        <p><span class="dataInfo">Creadores:</span></p>
        <span v-for="creator in comic.creators.items" :key="creator.role" >{{ creator.role }}: {{creator.name}}</span>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import marvelService from "@/mixins/marvelService.js";

export default {
  name: "Detail",
  mixins: [marvelService],
  data: () => ({
    comic: undefined,
    loading: true
  }),
  computed: {
    ...mapState(["favorites"])
  },
  methods: {
    ...mapActions(["setFavorites"]),
    isFavorite(id) {
      return this.favorites.find(comic => comic.id === id);
    },
    getPublishDate() {
      let publishDate = new Date(this.comic.dates.find(date => date.type === 'onsaleDate').date);
      return publishDate.getDate() + '/' + (publishDate.getMonth()+1) + '/' + publishDate.getFullYear();
    }
  },
  mounted() {
    this.getComicDetail(this.$route.params.id).then(comic => {
      this.comic = comic.data.data.results[0];
      this.loading = false;
    });
  }
};
</script>

<style lang="scss" scoped>
.v-progress-circular {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.favorite {
  color: red !important;
}
.description {
  text-align: center;
  @media (min-width: 600px) {
    padding-left: 12px;
  }
  p {
    padding-top: 1rem;
    .dataInfo {
      font-weight: 500;
    }
  }
  span {
    display: block;
  }
}
</style>
