<template>
  <div v-if="listToShow" class="home">
    <v-row class="container selectList" align="center">
      <v-col class="filterList d-flex" cols="12" sm="3">
        <v-select v-model="filterType" color="black" item-color="black" :items="itemsToFilter" label="Filtrar por"></v-select>
      </v-col>
    </v-row>

    <v-pagination
      v-if="filterType === 'Todos'"
      :value="page"
      @input="changePage($event)"
      color="black"
      :disabled="loading"
      :length="paginationLength"
      :page="page"
      :total-visible="7"
    ></v-pagination>

    <v-progress-circular v-if="loading" :size="50" color="black" indeterminate></v-progress-circular>

    <ComicList v-if="!loading" :list="listToShow" />
  </div>
</template>

<script>
import ComicList from "@/components/ComicList.vue";
import marvelService from "@/mixins/marvelService.js";
import { mapState, mapActions } from "vuex";

export default {
  name: "home",
  mixins: [marvelService],
  components: {
    ComicList
  },
  data: () => ({
    marvelList: [],
    filterType: "Todos",
    itemsToFilter: ["Todos", "Favoritos"],
    paginationLength: null,
    comicListLimit: 50,
    loading: true
  }),
  computed: {
    ...mapState(["favorites", "page"]),
    listToShow() {
      return this.filterType === "Todos" ? this.marvelList : this.favorites;
    }
  },
  methods: {
    ...mapActions(["setPage"]),
    getComicsList() {
      this.loading = true;
      this.getComics(this.page, this.comicListLimit).then(list => {
        this.paginationLength = Math.round(
          list.data.data.total / this.comicListLimit
        );
        this.marvelList = list.data.data.results;
        this.loading = false;
      });
    },
    changePage(page) {
      this.setPage(page);
      this.getComicsList();
    }
  },
  mounted() {
    this.getComicsList();
  }
};
</script>

<style lang="scss" scoped>
.selectList {
  margin: 0 auto;
  .filterList {
    margin: 0 auto;
  }
}
.v-progress-circular {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
