<template>
  <v-container>
    <v-container fluid>
      <h1 class="noData"
        v-if="!list.length"
      >Vaya! 😅 Parece que no hay comics por aquí.</h1>
      <v-row v-if="list.length" dense>
        <v-col v-for="comic in list" :key="comic.id">
          <v-card v-if="comic" :key="comic.id">
            <v-img
              :src="comic.thumbnail.path + '/portrait_incredible.' + comic.thumbnail.extension"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
              <v-card-title v-text="comic.title"></v-card-title>
            </v-img>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn icon @click="addOrRemoveFavorite(comic)">
                <v-icon :class="favorites && isFavorite(comic.id) ? 'favorite' : ''">mdi-heart</v-icon>
              </v-btn>
              <v-btn :to="{ name: 'detail', params: { id: comic.id }}" text small>Ver detalle</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "ComicList",
  props: {
    list: Array
  },
  computed: {
    ...mapState(["favorites"]),
  },
  methods: {
    ...mapActions(['setFavorites']),
    addOrRemoveFavorite(comic) {
      this.setFavorites(comic);
    },
    isFavorite(id) {
      return this.favorites.find(comic => comic.id === id);
    }
  }
};
</script>

<style lang="scss" scoped>
.noData {
  text-align: center
}
.favorite {
  color: red !important;
}
</style>
