<template>
  <v-app-bar app color="black" dark>
    <v-btn v-if="back" to="/" absolute dark fab middle left color="black">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <div class="logo-container">
      <router-link to="/">
        <v-img
          to="/home"
          alt="Marvel Logo"
          class="shrink mr-2"
          contain
          src="../assets/marvel-logo.svg"
          transition="scale-transition"
          width="130"
        />
      </router-link>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",

  data: () => ({
    back: false
  }),
  watch: {
    $route(to) {
      this.back = to && to.name === "detail" ? true : false;
    }
  }
};
</script>

<style lang="scss" scoped>
.logo-container {
  margin: 0 auto;
}
</style>
