<template>
  <v-app>
    <Header />
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue";
import { mapActions } from "vuex";

export default {
  name: "App",
  components: {
    Header
  },
  methods: {
    ...mapActions(["setFavorites"])
  },
  mounted() {
    this.setFavorites();
  }
};
</script>
